@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #17181a center no-repeat;
}

header {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 1rem;
  font-size: 3.5rem;
}
.logo a {
  text-decoration: none;
  color: white;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  font-size: 1rem;
}

.btn {
  border: 2px solid rgb(84, 99, 187);
  padding: 0.5rem 1rem;
  background-color: rgb(84, 99, 187);
  color: white;
  cursor: pointer;
}
.search-input {
  border: 2px solid rgb(84, 99, 187);
  padding: 0.51rem;
  width: 20%;
}

.more-btn {
  display: block;
  margin: 2rem auto;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  width: 90%;
}

.image {
  margin: 2rem auto;
  width: 30%;
}

.gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 15px solid rgb(14, 248, 217);
}

.gallery p {
  margin: 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: white;
}
